configuration {
  show-icons:         false;
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "Open";
  columns: 2;
}
